{{- $caption := .Title | default .Text -}}
{{- $class := "zoomable" -}}
{{- $figureClass := "" -}}

{{- /* 将 caption 拆分为单词，从右往左消费关键词 */ -}}
{{- $words := findRE "\\S+" $caption -}}
{{- $processing := true -}}
{{- $sizeSet := false -}}
{{- $alignSet := false -}}

{{- range seq (len $words) -}}
  {{- if and $processing (gt (len $words) 0) -}}
    {{- $last := index $words (sub (len $words) 1) -}}
    {{- $rest := first (sub (len $words) 1) $words -}}
    {{- if eq $last "float-left" -}}
      {{- $figureClass = printf "%s float-left" $figureClass -}}
      {{- $words = $rest -}}
    {{- else if eq $last "float-right" -}}
      {{- $figureClass = printf "%s float-right" $figureClass -}}
      {{- $words = $rest -}}
    {{- else if eq $last "tiny" -}}
      {{- if not $sizeSet -}}
        {{- $figureClass = printf "%s image-tiny" $figureClass -}}
        {{- $sizeSet = true -}}
      {{- end -}}
      {{- $words = $rest -}}
    {{- else if eq $last "small" -}}
      {{- if not $sizeSet -}}
        {{- $figureClass = printf "%s image-small" $figureClass -}}
        {{- $sizeSet = true -}}
      {{- end -}}
      {{- $words = $rest -}}
    {{- else if eq $last "medium" -}}
      {{- if not $sizeSet -}}
        {{- $figureClass = printf "%s image-medium" $figureClass -}}
        {{- $sizeSet = true -}}
      {{- end -}}
      {{- $words = $rest -}}
    {{- else if eq $last "large" -}}
      {{- if not $sizeSet -}}
        {{- $figureClass = printf "%s image-large" $figureClass -}}
        {{- $sizeSet = true -}}
      {{- end -}}
      {{- $words = $rest -}}
    {{- else if eq $last "center" -}}
      {{- if not $alignSet -}}
        {{- $figureClass = printf "%s center-image" $figureClass -}}
        {{- $alignSet = true -}}
      {{- end -}}
      {{- $words = $rest -}}
    {{- else if eq $last "left" -}}
      {{- if not $alignSet -}}
        {{- $figureClass = printf "%s left-image" $figureClass -}}
        {{- $alignSet = true -}}
      {{- end -}}
      {{- $words = $rest -}}
    {{- else if eq $last "right" -}}
      {{- if not $alignSet -}}
        {{- $figureClass = printf "%s right-image" $figureClass -}}
        {{- $alignSet = true -}}
      {{- end -}}
      {{- $words = $rest -}}
    {{- else -}}
      {{- $processing = false -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $caption = delimit $words " " -}}

<figure{{ with $figureClass }} class="{{ trim . " " }}"{{ end }}>
    <img src="{{ .Destination | safeURL }}" 
         alt="{{ $caption }}" 
         {{ with .Title }}title="{{ . }}"{{ end }}
         class="{{ $class }}">
    
    {{ if $caption }}
    <figcaption>{{ $caption }}</figcaption>
    {{ end }}
</figure>
