---
title: "Folo RSS Feed Verification"
date: 2025-09-03T20:30:00+08:00
tags: ["verification", "folo"]
---

This message is used to verify that this feed (feedId:185740357004129280) belongs to me (userId:65635023649332224). Join me in enjoying the next generation information browser https://folo.is.