{{ if and .Site.Params.giscus.enable (not .Params.disableComments) }}
<div class="comments">
  <script>
    function loadGiscus() {
      const theme = document.documentElement.dataset.theme === 'light' ? 'light' : 'dark';
      const script = document.createElement('script');
      script.src = 'https://giscus.app/client.js';
      script.dataset.repo = '{{ .Site.Params.giscus.repo }}';
      script.dataset.repoId = '{{ .Site.Params.giscus.repo_id }}';
      script.dataset.category = '{{ .Site.Params.giscus.category }}';
      script.dataset.categoryId = '{{ .Site.Params.giscus.category_id }}';
      script.dataset.mapping = '{{ .Site.Params.giscus.mapping | default "pathname" }}';
      script.dataset.reactionsEnabled = '{{ if .Site.Params.giscus.reactions_enabled }}1{{ else }}0{{ end }}';
      script.dataset.emitMetadata = '{{ if .Site.Params.giscus.emit_metadata }}1{{ else }}0{{ end }}';
      script.dataset.theme = theme;
      script.dataset.lang = '{{ .Site.Params.giscus.lang | default "en" }}';
      script.crossOrigin = 'anonymous';
      script.async = true;
      document.querySelector('.comments').appendChild(script);
    }
    loadGiscus();
  </script>
</div>
{{ end }}
