{{ define "main" }}
<ul class="post-list">
  {{ $lastYear := "" }}
  {{ range .Pages }}
  {{ $year := .Date.Format "2006" }}
  {{ if ne $year $lastYear }}
  <li class="post-year">{{ $year }}</li>
  {{ $lastYear = $year }}
  {{ end }}
  <li class="post-item">
    <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">
      {{ .Date.Format "01-02" }}
    </time>
    <span class="post-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </span>
    {{ with .Params.tags }}
    <div class="post-tags">
      {{ range . }}<span class="tag">{{ . }}</span>{{ end }}
    </div>
    {{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}
