{{ define "main" }}
<article>
  {{ if .Section }}
  <header class="article-header">
    <h1 class="article-title">{{ .Title }}</h1>
    <div class="article-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
      {{ with .Params.tags }}
      <div class="article-tags">
        {{ range . }}
        <a href="{{ "tags/" | relURL }}{{ . | urlize }}/">#{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </header>
  {{ end }}

  <div class="article-content">
    {{ .Content }}
  </div>
</article>

{{ if .Section }}
{{ partial "comments.html" . }}
{{ end }}
{{ end }}
